<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wfu.com.documentexpress">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.DirChosseActivity"/>
        <activity android:name=".activity.BlueToothActivity"/>
        <activity android:name=".activity.blueToothSelectActivity"/>
        <activity android:name=".activity.ConnectUserActivity"/>
        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.FileChooseActivity"/>
        <activity android:name=".libzxing.zxing.activity.CaptureActivity"/>
        <activity android:name=".activity.WiFiConnectActivity"/>
        <activity android:name=".activity.SendActivity">

        </activity>

        <service android:name=".Server.BluetoothServerService"></service>
        <service android:name=".Server.BluetoothClientService"></service>
        <activity android:name=".activity.ReceiveActivity"/>
        <activity android:name=".activity.PhoneTransActivity"/>
        <activity android:name=".activity.bluetoothactivity_express"/>
        <activity android:name=".Server.SelectFileActivity"/>
        <activity android:name=".activity.NFcExpressActivity"/>
        <activity android:name=".activity.WiFiDirectReceiverActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.WifiDirectExpressActivity"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
